In [9]:
import pandas as pd

In [1]:
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
def say_something(something):
    print(something)

In [4]:
say_something("I like turtles")

I like turtles

In [5]:
Selena_says = "I love sleeping and boba. I'm a bobaseur"
say_something(Selena_says)

I love sleeping and boba. I'm a bobaseur

In [6]:
#define a function for calculating percentages of students that pass math and reading
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count/ float(student_count) * 100

In [7]:
passing_math_count = 29370
total_student_count = 39170

# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [8]:
# list of my grades
my_grades = ['B', 'C', 'B','D']

In [10]:
#convert my grades into a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
# using map we will change B-A,C-B,D-C
#change my grades by one letter grade
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# format() function is used to format a value to a specific format, ie. 1 or 2 decimal places or adding thousands seperator
# .0f means no decimal where the period is. if you want 1 decimal .1f, 2, .2f (f means floating point)
# syntax: "{value: format specifications}".format(value)
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [16]:
# we can chain format, and map together to a series or column in a df
#convert the numerical grades to a series
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [17]:
# format to the nearest percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object